<!DOCTYPE html>
<html>
<head>
  <title>RubyPhenex</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'prototype', 'rails' %>

  <%= netzke_init ext_theme: 'gray' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
    Routes = {};
    Routes.PATHS_TO_ROUTES =
      '<%= raw Routes::JSON::PATHS_TO_ROUTES %>'.evalJSON()
    Routes.CONTROLLERS_ACTIONS_TO_ROUTES =
      '<%= raw Routes::JSON::CONTROLLERS_ACTIONS_TO_ROUTES %>'.evalJSON()
    Routes.PATHNAMES_TO_ROUTES =
      '<%= raw Routes::JSON::PATHNAMES_TO_ROUTES %>'.evalJSON()
  </script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
